.advertLink {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.2s ease;
}

.coverPhoto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1em;
}
.advertCard {
  position: relative;
  height: 380px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}
.title {
  font-size: 25px;
  margin-bottom: 1rem;
  color: #000000;
  font-weight: 1;
}
.coverPhoto {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1em;
  display: block;
}

.favButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0);
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.favButton img {
  width: 30px;
  height: 30px;
  pointer-events: none;
}
