.container {
  margin: 2rem auto;
  max-width: 1080px;
  padding: 2rem 1rem;
  border-radius: 12px;
  background-color: #fff;
}

.title {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.message {
  text-align: center;
  font-size: 1.1rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.addButton {
  background: none;
  border: none;
  cursor: pointer;
}

.addButton img {
  width: 36px;
  height: 36px;
}
